:root {
  color-scheme: dark;
  font-optical-sizing: auto;
  background-color: var(--color-background);
  color: var(--color-foreground);
}


a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration-style: solid;
  }
}
