:root {
  color-scheme: dark;
  font-optical-sizing: auto;
  background-color: var(--color-background);
  color: var(--color-foreground);
}


@layer base {
  a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;

    @media (hover: hover) {
      &:hover {
        text-decoration-style: solid;
      }
    }

    &:active {
      text-decoration-style: solid;
    }
  }


  strong {
    color: var(--color-foreground-light);
  }
}
