:root {
  color-scheme: dark;
  font-optical-sizing: auto;
  background-color: var(--color-bg);
  color: var(--color-fg);
}


@layer base {
  a {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;

    @media (hover: hover) {
      &:hover {
        text-decoration-style: solid;
      }
    }

    &:active {
      text-decoration-style: solid;
    }
  }


  strong {
    color: var(--color-fg-light);
  }


  h2 {
    color: var(--color-fg-lighter);
  }

  h3 {
    color: var(--color-fg-light);
  }
}
