:root {
  --prose-max-width: 65ch;
  --prose-width: min(var(--prose-max-width), 100%);
  --prose-margin: calc(calc(100vw - var(--prose-width)) / 2);
}


.prose {
  color: var(--color-foreground);
  max-width: var(--prose-max-width);
  font-size: 1rem;
  line-height: 1.75;


  /* Variants */
  &.prose-fluid {
    max-width: none;
  }

  &.prose-img-inline {
    img,
    svg {
      display: inline;
    }
  }


  /* Specials */
  & > :first-child {
    margin-block-start: 0 !important;
  }

  & > :last-child {
    margin-block-end: 0 !important;
  }


  /* Titles */
  h1 {
    color: var(--color-foreground-lighter);
  }

  h2 {
    color: var(--color-foreground-light);
  }


  /* Links */
  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: inherit;
    border-block-end: 1px solid --alpha(var(--color-primary) / 30%);
    transition: color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary-2);
        border-color: var(--color-primary-2);
      }
    }

    &:active {
      color: var(--color-primary-3);
      border-color: var(--color-primary-3);
    }

    &:has(:only-child:is(img, svg)) {
      border-block-end: none;
    }
  }


  /* Paragraphs */
  p {
    margin-block: 1.25em;
  }


  /* Lists */
  ul,
  ol {
    & > li {
      position: relative;
      padding-inline-start: 1.75em;
    }
  }

  ul > li::before {
    content: '';
    position: absolute;
    background-color: var(--color-foreground-light);
    border-radius: calc(infinity * 1px);
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - calc(0.375em / 2));
    left: 0.25em;
  }

  li {
    margin-block: 0.5em;
  }


  /* small */
  &.prose-sm {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);


    p {
      margin-block: calc(16 / 14 * 1em);
    }


    ul,
    ol {
      & > li {
        padding-inline-start: calc(11 / 7 * 1em);
      }
    }

    ul > li::before {
      width: calc(2.5 / 7 * 1em);
      height: calc(2.5 / 7 * 1em);
      top: calc(calc(4.5 / 7 * 1em) - calc(2.5 / 7 * 1em / 2));
      left: calc(1.5 / 7 * 1em);
    }

    li {
      margin-block: calc(2 / 7 * 1em);
    }
  }
}
